<div>
<% if (user.membership) { %>
    <div>
        <p><strong><%= msg.title %></strong></p>
        <p><%= msg.message %></p>
        <p><%= msg.author %></p>
        <p><%= msg.time %></p>
    </div>

    <% if (user.isadmin) { %>
        <div>
            <p>ID: <%= msg.id%></p>
            <form form action="/delete/<%= msg.id %>" method="POST">
            <!-- confirm with user before deleting message -->
                <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
            </form>
        </div>
    <%}%>
<%} else {%>
    <div>
        <p><strong><%= msg.title %></strong></p>
        <p><%= msg.message %></p>
        <p>Posted by: Anonymous</p>
        <p>Posted at: Secret time</p>
    </div>
<%}%>
</div>